<ion-header>
	  <ion-toolbar>
		      <ion-title>
			            My musician appointment app
				        </ion-title>
					  </ion-toolbar>
</ion-header>
<ion-content>
	<div class="mylist">
	  <ion-list class="ios list-ios hydrated">
		      <ion-list-header class="ios hydrated">
			            Appointments
				        </ion-list-header>
					    <ion-item *ngFor="let booking of Bookings" class="user-list">
						          <ion-label>
								          <h5>
										            <ion-icon name="person"></ion-icon> {{booking.name}}
											            </h5>
												            <p>
													              <ion-icon name="call"></ion-icon> {{booking.mobile}}
														              </p>
															            </ion-label>
																          <div class="item-note" item-end>
																		          <button ion-button clear [routerLink]="['/edit-appointment/', booking.$key]">
																				            <ion-icon name="create" style="zoom:2.0"></ion-icon>
																					            </button>
																						            <button ion-button clear (click)="deleteBooking(booking.$key)">
																								              <ion-icon name="trash" style="zoom:2.0"></ion-icon>
																									              </button>
																										            </div>
																											        </ion-item>
																												  </ion-list>
	  <ion-list class="ios list-ios hydrated">
		      <ion-list-header class="ios hydrated">
			            Songs
				        </ion-list-header>
					    <div *ngFor="let a of mykeys" class="song-list">
						    <div>{{a}}</div>
					    <ion-item *ngFor="let song of mySongs[a]" class="song-list">
						          <ion-label>
								          <h5>
										  <ion-icon name="title"></ion-icon> {{song.artist}} - {{song.title}}
											            </h5>
												            <p>
													    <a href="javascript:void(0)" (click)="jouer(song.filepath)">JOUER
													    </a>
													    <a href="javascript:void(0)" (click)="download(song.filepath)"><ion-icon name="music"></ion-icon> {{song.name}}
													    </a>

														              </p>
												            <p>

														              </p>
															            </ion-label>
																          <div class="item-note" item-end>
																		          <button ion-button clear [routerLink]="['/edit-song/', song.$key]">
																				            <ion-icon name="create" style="zoom:2.0"></ion-icon>
																					            </button>
																						            <button ion-button clear (click)="deleteSong(song.$key)">
																								              <ion-icon name="trash" style="zoom:2.0"></ion-icon>
																									              </button>
																										            </div>
																											        </ion-item>
																											        </div>
																												  </ion-list>
	</div>
	<div *ngIf="audio"  class="myplayer">
		<a href="javascript:void(0)" (click)="pausemusic()">{{playpause}}</a>
		<input type="range" max="{{sliderMax}}" (change)="myChange($event)" (click)="myClick($event)"  (input)="myInput($event)" id="seek-slider" value="{{slidervalue}}">
		  <span id="currentTime">{{currentTimeContainer}} /</span>
		  <span id="div1">{{durationContainer}}</span>


	</div>

</ion-content>
